In [1]:
import pandas as pd

In [11]:
## Loading the datasets

climate_df = pd.read_csv('Climate1985_2020/3WeeksRunningAvg/Canola_TWN_PRA_1985_2020_Climate_MovingAvg_week40.txt',sep='\t')
nvdi_df = pd.read_csv('NDVI_MODIS/3weekMovingAvg/Canola_TWP_MovingAvg.csv')
ecv_smos_df = pd.read_csv('ECV_SMOS2010-2020/TWN_Canola_ECV_SMOS_Weekly_20100101.20201231.csv')
crop_yield_canola_df = pd.read_excel('Crop_Yield/Yield2010_2021_SKMB_Canola_Township_ED.xlsx')

In [12]:
climate_df.head(5)

,TWN_ID,Year,SumPcpn18_20,SumPcpn19_21,SumPcpn20_22,SumPcpn21_23,SumPcpn22_24,SumPcpn23_25,SumPcpn24_26,SumPcpn25_27,...,AvgPrcnAWHC29_31,AvgPrcnAWHC30_32,AvgPrcnAWHC31_33,AvgPrcnAWHC32_34,AvgPrcnAWHC33_35,AvgPrcnAWHC34_36,AvgPrcnAWHC35_37,AvgPrcnAWHC36_38,AvgPrcnAWHC37_39,AvgPrcnAWHC38_40
0,00101E1,1985,32.0,34.5,29.5,35.5,43.7,24.7,80.7,74.5,...,0.124762,0.259048,0.507143,0.753810,0.860952,0.883333,0.849524,0.848095,0.853810,0.869048
1,00101E1,1986,30.2,19.6,5.4,26.9,40.7,73.2,51.9,50.3,...,0.437619,0.288095,0.177619,0.074286,0.037619,0.055714,0.090952,0.147143,0.198571,0.290476
2,00101E1,1987,14.4,37.9,59.9,61.2,40.7,50.7,51.6,54.6,...,0.483333,0.365714,0.310000,0.415238,0.534286,0.570476,0.547143,0.551429,0.580000,0.586667
3,00101E1,1988,34.9,22.9,19.0,0.0,14.3,16.7,16.7,27.7,...,0.004286,0.027619,0.109524,0.164286,0.179524,0.142381,0.166190,0.216190,0.251905,0.247619
4,00101E1,1989,27.4,37.5,40.5,51.1,52.0,67.4,84.4,67.0,...,0.110952,0.194286,0.318095,0.384762,0.439524,0.459048,0.489048,0.509048,0.518571,0.480000

In [13]:
nvdi_df.head(5)

,TWP_ID,YEAR,NDVI18_20,NDVI19_21,NDVI20_22,NDVI21_23,NDVI22_24,NDVI23_25,NDVI24_26,NDVI25_27,...,NDVI28_30,NDVI29_31,NDVI30_32,NDVI31_33,NDVI32_34,NDVI33_35,NDVI34_36,NDVI35_37,NDVI36_38,NDVI_MAX
0,00101E1,2000,0.258661,0.311686,0.401711,0.471207,0.556656,0.593430,0.658336,0.696674,...,0.759668,0.714705,0.666111,0.608262,0.550412,0.515353,0.493043,0.476926,0.434332,0.800998
1,00101E1,2001,0.271472,0.299149,0.329158,0.360734,0.411387,0.476161,0.555059,0.633956,...,0.769349,0.775585,0.738828,0.683502,0.625861,0.568261,0.506879,0.442404,0.377830,0.795588
2,00101E1,2002,0.226186,0.242399,0.254109,0.294525,0.324490,0.381464,0.437595,0.535246,...,0.730935,0.725283,0.697976,0.655635,0.615383,0.570338,0.539687,0.518576,0.477932,0.739600
3,00101E1,2003,0.244343,0.277896,0.319315,0.392025,0.473263,0.552172,0.615737,0.665826,...,0.747671,0.736302,0.702264,0.630573,0.528436,0.454829,0.425106,0.410432,0.384892,0.769433
4,00101E1,2004,0.235770,0.250572,0.258847,0.290806,0.342773,0.419997,0.489744,0.552942,...,0.643874,0.622110,0.667781,0.690917,0.708486,0.663586,0.624549,0.581973,0.547010,0.759248

In [14]:
ecv_smos_df.head(5)

,TWP_ID,VALID_COUNT,MIN,MAX,RANGE,MEAN,TOTAL_COUNT,YEAR,DOY,WEEK
0,00101E1,98,32.693829,32.693829,0.000000,32.693825,98,2011,129,19
1,00101W1,95,30.032328,32.693829,2.661501,30.844786,95,2011,129,19
2,00101W2,90,31.222174,31.222174,0.000000,31.222170,90,2011,129,19
3,00102E1,87,32.693829,39.018414,6.324585,35.456284,87,2011,129,19
4,00102W1,95,30.032328,30.032328,0.000000,30.032320,95,2011,129,19

In [15]:
crop_yield_canola_df.head(5)

,OBJECTID,TWP_ID,YieldKgAcre2010,YieldKgAcre2011,YieldKgAcre2012,YieldKgAcre2013,YieldKgAcre2014,YieldKgAcre2015,YieldKgAcre2016,YieldKgAcre2017,YieldKgAcre2018,YieldKgAcre2019,YieldKgAcre2020,YieldKgAcre2021,ECODISTRICT_ID,ECOREGION_ID,ECOZONE_ID,ECOPROVINCE_ID
0,1,00101E1,867.766846,746.765442,787.231293,1131.823547,881.470978,927.640442,739.822205,1260.589233,1169.278442,1150.015503,1131.083313,994.528046,852,162,10,10.1
1,2,00101W1,673.685028,670.953613,799.348114,1051.479919,990.792786,948.919067,704.518585,1208.910278,1149.666138,1140.450867,1126.362488,992.523376,852,162,10,10.1
2,3,00101W2,824.303864,591.453003,677.236389,839.030914,778.580139,686.634338,950.681091,872.101929,814.256714,916.208557,989.483490,782.133820,796,157,10,10.3
3,4,00101W3,432.694122,257.083649,412.948364,738.874359,466.009613,613.363098,1069.693237,268.218826,510.997971,765.065826,617.296875,291.780167,832,159,10,10.3
4,5,00102E1,1006.708496,806.171265,691.325684,1020.039307,1025.386475,989.774292,784.503601,1261.884399,1046.455566,1109.039917,1027.218506,742.924438,853,162,10,10.1

In [22]:
## Filtering for years between 2010-2020

climate_df_filtered = climate_df[(climate_df['Year']>=2010) & (climate_df['Year']<=2020)]
nvdi_df_filtered = nvdi_df[(nvdi_df['YEAR']>=2010) & (nvdi_df['YEAR']<=2020)]
ecv_smos_df_filtered = ecv_smos_df[(ecv_smos_df['YEAR']>=2010) & (ecv_smos_df['YEAR']<=2020)]

In [23]:
## Renaming the required columns

climate_df_filtered. rename(columns = {'TWN_ID':'TWP_ID', 'Year':'YEAR'}, inplace = True)

C:\Users\Navdeep Singh Saini\miniconda3\lib\site-packages\pandas\core\frame.py:5039: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [32]:
climate_df_filtered.head(5)

,TWP_ID,YEAR,SumPcpn18_20,SumPcpn19_21,SumPcpn20_22,SumPcpn21_23,SumPcpn22_24,SumPcpn23_25,SumPcpn24_26,SumPcpn25_27,...,AvgPrcnAWHC29_31,AvgPrcnAWHC30_32,AvgPrcnAWHC31_33,AvgPrcnAWHC32_34,AvgPrcnAWHC33_35,AvgPrcnAWHC34_36,AvgPrcnAWHC35_37,AvgPrcnAWHC36_38,AvgPrcnAWHC37_39,AvgPrcnAWHC38_40
25,00101E1,2010,53.6,111.1,109.7,117.9,46.4,69.3,60.0,44.6,...,0.182381,0.182857,0.184762,0.206667,0.361905,0.546667,0.767619,0.844762,0.873810,0.867143
26,00101E1,2011,51.6,49.2,57.8,31.1,30.3,63.2,65.1,75.6,...,0.078571,0.054286,0.047143,0.038571,0.068571,0.109524,0.141429,0.259524,0.373810,0.487143
27,00101E1,2012,28.7,43.2,43.2,58.7,59.2,82.3,51.8,44.7,...,0.029524,0.025238,0.061429,0.095238,0.121905,0.111905,0.092381,0.071905,0.058095,0.095714
28,00101E1,2013,41.1,75.9,114.6,83.5,47.5,27.7,42.8,37.8,...,0.492857,0.387143,0.237143,0.133333,0.109524,0.182381,0.254286,0.271905,0.252381,0.285714
29,00101E1,2014,44.3,49.6,49.0,60.1,59.4,76.1,113.4,101.1,...,0.400000,0.287143,0.146667,0.089048,0.138571,0.206190,0.233810,0.227619,0.242381,0.290000

In [33]:
nvdi_df_filtered.head(5)

,TWP_ID,YEAR,NDVI18_20,NDVI19_21,NDVI20_22,NDVI21_23,NDVI22_24,NDVI23_25,NDVI24_26,NDVI25_27,...,NDVI28_30,NDVI29_31,NDVI30_32,NDVI31_33,NDVI32_34,NDVI33_35,NDVI34_36,NDVI35_37,NDVI36_38,NDVI_MAX
10,00101E1,2010,0.300281,0.352352,0.426270,0.501075,0.578762,0.628569,0.654544,0.659907,...,0.679418,0.660112,0.641447,0.614532,0.562060,0.515623,0.473639,0.449115,0.420179,0.704843
11,00101E1,2011,0.259221,0.277087,0.302071,0.351310,0.408707,0.485260,0.561378,0.626498,...,0.745421,0.779282,0.764578,0.727995,0.671003,0.616575,0.554921,0.483088,0.393300,0.795756
12,00101E1,2012,0.305500,0.347146,0.405769,0.471755,0.545110,0.620555,0.681289,0.719817,...,0.743998,0.687361,0.621416,0.561836,0.521024,0.465109,0.408289,0.342285,0.294763,0.773338
13,00101E1,2013,0.217645,0.225827,0.249456,0.283105,0.335140,0.413687,0.524696,0.620474,...,0.790481,0.799692,0.792240,0.767406,0.731984,0.672456,0.612224,0.547149,0.475303,0.816231
14,00101E1,2014,0.218710,0.227899,0.252385,0.292871,0.339906,0.430620,0.520763,0.616722,...,0.685497,0.724684,0.761682,0.755862,0.712256,0.654530,0.595977,0.544310,0.480432,0.781585

In [39]:
climate_nvdi_merged = pd.merge(climate_df_filtered, nvdi_df_filtered, on=['TWP_ID', 'YEAR'], how='inner')

In [41]:
climate_nvdi_merged.head(5)

,TWP_ID,YEAR,SumPcpn18_20,SumPcpn19_21,SumPcpn20_22,SumPcpn21_23,SumPcpn22_24,SumPcpn23_25,SumPcpn24_26,SumPcpn25_27,...,NDVI28_30,NDVI29_31,NDVI30_32,NDVI31_33,NDVI32_34,NDVI33_35,NDVI34_36,NDVI35_37,NDVI36_38,NDVI_MAX
0,00101E1,2010,53.6,111.1,109.7,117.9,46.4,69.3,60.0,44.6,...,0.679418,0.660112,0.641447,0.614532,0.562060,0.515623,0.473639,0.449115,0.420179,0.704843
1,00101E1,2011,51.6,49.2,57.8,31.1,30.3,63.2,65.1,75.6,...,0.745421,0.779282,0.764578,0.727995,0.671003,0.616575,0.554921,0.483088,0.393300,0.795756
2,00101E1,2012,28.7,43.2,43.2,58.7,59.2,82.3,51.8,44.7,...,0.743998,0.687361,0.621416,0.561836,0.521024,0.465109,0.408289,0.342285,0.294763,0.773338
3,00101E1,2013,41.1,75.9,114.6,83.5,47.5,27.7,42.8,37.8,...,0.790481,0.799692,0.792240,0.767406,0.731984,0.672456,0.612224,0.547149,0.475303,0.816231
4,00101E1,2014,44.3,49.6,49.0,60.1,59.4,76.1,113.4,101.1,...,0.685497,0.724684,0.761682,0.755862,0.712256,0.654530,0.595977,0.544310,0.480432,0.781585

In [61]:
crop_yield_canola_col=["TWP_ID","ECODISTRICT_ID","ECOREGION_ID","ECOZONE_ID","ECOPROVINCE_ID"]+[col for col in crop_yield_canola_df if col.startswith("YieldKgAcre")]
crop_yield_canola=crop_yield_canola_df[crop_yield_canola_col]
crop_yield_canola_melt=pd.melt(crop_yield_canola,id_vars=['TWP_ID','ECODISTRICT_ID','ECOREGION_ID','ECOZONE_ID','ECOPROVINCE_ID'],var_name='YEAR',value_name='YieldKgAcre')
crop_yield_canola_melt["YEAR"]=crop_yield_canola_melt["YEAR"].str.slice(start=11)

In [62]:
crop_yield_canola_melt.head(10)

,TWP_ID,ECODISTRICT_ID,ECOREGION_ID,ECOZONE_ID,ECOPROVINCE_ID,YEAR,YieldKgAcre
0,00101E1,852,162,10,10.1,2010,867.766846
1,00101W1,852,162,10,10.1,2010,673.685028
2,00101W2,796,157,10,10.3,2010,824.303864
3,00101W3,832,159,10,10.3,2010,432.694122
4,00102E1,853,162,10,10.1,2010,1006.708496
5,00102W1,852,162,10,10.1,2010,869.040283
6,00102W2,796,157,10,10.3,2010,823.876709
7,00102W3,832,159,10,10.3,2010,430.036743
8,00103E1,853,162,10,10.1,2010,820.111633
9,00103W1,852,162,10,10.1,2010,1161.746033

In [63]:
crop_yield_canola_melt['YEAR'] = crop_yield_canola_melt['YEAR'].astype(int)

In [64]:
pd.merge(climate_nvdi_merged, crop_yield_canola_melt, on=['TWP_ID', 'YEAR'], how='inner')

,TWP_ID,YEAR,SumPcpn18_20,SumPcpn19_21,SumPcpn20_22,SumPcpn21_23,SumPcpn22_24,SumPcpn23_25,SumPcpn24_26,SumPcpn25_27,...,NDVI33_35,NDVI34_36,NDVI35_37,NDVI36_38,NDVI_MAX,ECODISTRICT_ID,ECOREGION_ID,ECOZONE_ID,ECOPROVINCE_ID,YieldKgAcre
0,00101E1,2010,53.6,111.1,109.7,117.9,46.4,69.3,60.0,44.6,...,0.515623,0.473639,0.449115,0.420179,0.704843,852,162,10,10.1,867.766846
1,00101E1,2011,51.6,49.2,57.8,31.1,30.3,63.2,65.1,75.6,...,0.616575,0.554921,0.483088,0.393300,0.795756,852,162,10,10.1,746.765442
2,00101E1,2012,28.7,43.2,43.2,58.7,59.2,82.3,51.8,44.7,...,0.465109,0.408289,0.342285,0.294763,0.773338,852,162,10,10.1,787.231293
3,00101E1,2013,41.1,75.9,114.6,83.5,47.5,27.7,42.8,37.8,...,0.672456,0.612224,0.547149,0.475303,0.816231,852,162,10,10.1,1131.823547
4,00101E1,2014,44.3,49.6,49.0,60.1,59.4,76.1,113.4,101.1,...,0.654530,0.595977,0.544310,0.480432,0.781585,852,162,10,10.1,881.470978
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42895,06327W3,2016,21.9,62.6,69.2,59.6,31.0,48.6,52.7,73.8,...,0.786022,0.770411,0.711430,0.624075,0.848771,652,139,9,9.2,999.490875
42896,06327W3,2017,33.0,55.0,28.3,53.6,49.4,73.1,49.9,32.9,...,0.767945,0.754818,0.727324,0.686778,0.849672,652,139,9,9.2,909.890778
42897,06327W3,2018,3.2,8.7,22.3,91.4,96.6,81.4,32.5,39.8,...,0.802394,0.766050,0.715117,0.657794,0.860395,652,139,9,9.2,792.129730
42898,06327W3,2019,9.8,8.8,5.7,61.4,75.6,103.1,68.0,64.8,...,0.827292,0.816070,0.777191,0.729916,0.871052,652,139,9,9.2,1039.901672
42899,06327W3,2020,12.0,20.2,26.4,133.6,122.2,113.2,12.4,29.4,...,0.855990,0.830134,0.828572,0.778632,0.945548,652,139,9,9.2,1001.863647